.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%
}

.App-logo {
  transition: all .5s ease-in-out;
  height: 40vmin;
}
.App-logo:hover {
  scale: 0.5
}
.App-logo1 {
  transition: all .5s ease-in-out;
  height: 40vmin;
}
#container {
  width: 50px;
  height: 50px;
}
#container1 {
  width: 250px;
  height: 250px;
  border: 1px solid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
  .test:hover .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
  .App-logo1{
    animation: App-logo-spin infinite 5s linear;
  }
  #topnav b:hover .App-logo1 {
    scale: 0.8;
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34aa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Text-color {
  color:azure
}
.Text-color:hover {
  color:crimson
}
/* p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
} */

.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top:0;
  left:0;
  right:0;
}
#topnav {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the links inside the navigation bar */
#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 24px;
}

#topnav b {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1px 6px;
  text-decoration: none;
  font-size: 1px;
}
#topnav b:hover {
  background-color: #282c34;
  color: black;
}

/* Change the color of links on hover */
#topnav a:hover {
  background-color: #282c34;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #282c34;
  color: white;
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  
}




